body {
  background: grey;
  margin: 0px;
}

.active nav-item {
  background-color: purple !important;
}

#subpageHead {
  font-family: sans-serif;
  text-align: center;
  font-size: 72px;
  padding: 150px;
  color: black;
  margin: 0px;
}

#submitHead {
  font-family: sans-serif;
  text-align: center;
  font-size: 72px;
  padding: 200px;
  background-color: black;
  color: white;
  margin: 0px;
}

#homeHead {
  font-family: sans-serif;
  text-align: center;
  font-size: 72px;
  padding: 200px;
  background-color: black;
  color: white;
  margin: 0px;
}

nav {
  padding-top: 0px;
  background-color: grey;
  margin: 0px;
}

.nav a {
  color: white;
}


form{
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  font-size: 27px;
  background-color: #bbc3f7;
  padding: 50px;




}
